.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.population {
    color: #378333;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 500;
    white-space: nowrap;
}

.title {
    font-size: 14px;
    text-align: center;
}