.sidebar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: white;
    height: 100vh;
    position: absolute;
    align-items: flex-start;
    padding: 10px;
}

.spinner {
    margin-bottom: 20px;
    border-color: lightgray;
}

.conrtainer {
    width: fit-content;
    margin-right: 30px;
}

.descriptionColors {
    margin-bottom: 20px;
}

.color {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    margin-right: 10px;
}