.container {
    width: 100%;
    margin: 5px;
}

.header {
    font-size: 1.2rem;
    font-weight: 500;
}

.color {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    margin-right: 10px;
}

.legend {
    display: flex;
    flex-direction: column;
}

.legendCaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colorLine {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #FFEDA0, #800026);
    border-radius: 50px;
}