.minimizeTable {
    height: 0;
}

.tableContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    height: fit-content;
    z-index: 1001;
}

.customHeaderIcon {
    position: absolute;
    display: inline-block;
    margin: 0 50%;
    top: -70px;
}

.hidden {
    display: none;
}

.bottomArrow {
    position: absolute !important;
    bottom: 10px !important;
    z-index: 1001;
    background-color: rgba(13, 110, 253, 0.45) !important;
    border-radius: 50% !important;
    margin: 0 50% !important;
}

.topArrowContainer {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -1005;
}

.arrow {
    width: 3.5em !important;
    height: 3.5em !important;
}

.arrowTop {
    width: 2.5em !important;
    height: 2.5em !important;
}

.tableContainer {
    display: flex;
    flex-direction: column;
}

.customHeaderContainer {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    height: 90px !important;
}

.customHeaderTitle {
    word-break: break-all;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .customHeaderContainer {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        height: auto !important;
        width: 65% !important;
        padding: 10px 0;
    }

    .customHeaderIcon {
        position: unset !important;
        display: inline;
        margin: 0;
        padding: 0;
        width: 50px !important;
    }

    .customHeaderTitle {
        text-align: center;
        word-break: break-all;
    }
}