.minimizeTable {
    height: 0;
}

.tableContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    height: fit-content;
    z-index: 1001;
}

.hidden {
    z-index: -1001;
}

.bottomArrow {
    position: absolute !important;
    bottom: 10px;
    z-index: 1001;
    align-self: center;
    background-color: rgba(13, 110, 253, 0.45);
    border-radius: 50%;
}

.topArrowContainer {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -1005;
}

.arrow {
    width: 3.5em !important;
    height: 3.5em !important;
}

.arrowTop {
    width: 2.5em !important;
    height: 2.5em !important;
}

.tableContainer {
    display: flex;
    flex-direction: column;
}